<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="angular.min.js">
    </script>
    <script src="app.js"></script>
    <script src="model.js"></script>
    <script src="controller.js"></script>
</head>
<body ng-app="calcapp" ng-controller="calcctrl">
    <input type="text" ng-model="firstno">
    <input type="text" ng-model="secondno">
    <br>
    <button ng-click="doadd()">+</button>
    <h1>{{myresult}}</h1>
</body>
</html>








